<table
    role="presentation"
    width="100%"
    cellpadding="0"
    cellspacing="0"
    border="0"
>
    <tr>
        <td align="center" style="padding:28px 32px 22px;">

            <img
                src="https://media.rentcrib.co.uk/branding/rentcrib-wordmark.png"
                width="180"
                alt="RentCrib"
                style="
                    display:block;
                    width:180px;
                    max-width:100%;
                    height:auto;
                    margin:0 auto;
                    border:0;
                    outline:none;
                    text-decoration:none;
                "
            >

        </td>
    </tr>
</table>